.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.section1 {
    background-color: #1f2937;
    color: #f9faf8;
}

.section1 {
    display: flex;
    padding-top: 16px;
    padding-left: 208px;
    padding-right: 208px;
    align-items: baseline;
    justify-content: space-between;
}

.headLogo {
    display: flex;
    font-size: 24px;
    font-weight: 900px;
    flex-basis: 40%;
}

.headLink {
    display: flex;
    font-size: 18px;
    flex-basis: 20%;
}

.section2 {
    background-color: #1f2937;
    color: #f9faf8;
}

.section2 {
    display: flex;
    padding-top: 16px;
    padding-left: 208px;
    padding-right: 208px;
    justify-content: center;
    align-items: center;
}

.hero .imgBox {
    flex-shrink: 0;
    width: 50%;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

